<!-- # Note: <%= %> blocks insert the return value of the Ruby code inside.
# <% %> blocks just execute the code. -->
<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'fields', f: f %>
      <!-- render looks for fields.html.erb and renders it, passing f
      as arg. -->
      <div class="form-group">
        <%= f.submit "Create my account",
                    class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
